<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Space Cypo</title>
  <link rel="stylesheet" href="static\styles.css">
</head>
<body>
  <h1>Cipher Space</h1>
  <h2>An Intro to Cryptanalysis</h2>
  <div id="container">
    
    <div class="button" id="button-2">
      <div id="slide"></div>
      <a href="jebaited">Leve 1- Easy</a>
    </div>
  
    <div class="button" id="button-3">
      <div id="circle"></div>
      <a href="/">Level 2- Medium</a>
    </div>
  
    <div class="button" id="button-4">
      <div id="underline"></div>
      <a href="#">Level 3- Hard</a>
    </div>
  
    <div class="button" id="button-5">
      <div id="translate"></div>
      <a href="#">Level Four -Still Hard</a>
    </div>
  
    <div class="button" id="button-6">
      <div id="spin"></div>
      <a href="#">Good Luck!</a>
    </div>
  
    <div class="button" id="button-7">
      <div id="dub-arrow"><img src="https://github.com/atloomer/atloomer.github.io/blob/master/img/iconmonstr-arrow-48-240.png?raw=true" alt="" /></div>
      <a href="/resources">Learn More!</a>
      <a href="/tips">Tips & Tricks</a>
    </div>
  </div>
  
</body>
</html>