<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Space Cypo</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>Cipher Space</h1>
  <h2>An Intro to Cryptanalysis</h2>
  <div id="container">
    <div class="shadowbox">
        <h1>{{ reversed_string }}</h1>
        <div class="oval-shape">
            <input type="text" placeholder="Enter your text here...">
        </div>
    </div>
  </div>
  
</body>
</html>